@model IEnumerable<StudentManagement.Models.Student>
@{
    ViewData["Title"] = "Student List";
}

<h2> Student List </h2>

<p>
    <a asp-action="Create" asp-controller="Student" class="btn btn-primary">Create New Student</a>
</p>

<form method="get" asp-action="Index">
    <div class="input-group mb-3">
        <input type="text" name="search" value="@ViewBag.Search" class="form-control" placeholder="Search student..." />
        <button type="submit" class="btn btn-primary"> Search </button>
    </div>
</form>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>Full Name</th>
            <th>DateOfBirth</th>
            <th>Gender</th>
            <th>Email</th>
            <th>Phone</th>
            <th>Address</th>
            <th>Department Name</th>
            <th>Action</th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.FullName</td>
                <td>@item.DateOfBirth?.ToString("dd/MM/yyyy")</td>
                <td>@(item.Gender == true ? "Nam" : "Nữ") </td>
                <td>@item.Email</td>
                <td>@item.Phone</td>
                <td>@item.Address</td>
                <td>@item.Department?.DepartmentName</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.StudentId" class="btn btn-sm btn-warning">Edit</a>
                    <a asp-action="Details" asp-route-id="@item.StudentId" class="btn btn-sm btn-primary">Details</a>
                    <a asp-action="Delete" asp-route-id="@item.StudentId" class="btn btn-sm btn-danger">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<div>
    @for (int i = 1; i <= ViewBag.TotalItems; i++)
    {
        <a asp-action="Index" asp-route-page="@i" asp-route-search="@ViewBag.Search"
           class="btn @(i == ViewBag.CurrentPage ? "btn-primary" : "btn-secondary")">
            @i
        </a>
    }
</div>